[submodule "ext/cwgl/SPIRV-Cross"]
	path = ext/cwgl/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/cwgl/SPIRV-Headers"]
	path = ext/cwgl/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "ext/cwgl/SPIRV-Tools"]
	path = ext/cwgl/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "ext/cwgl/Vulkan-Headers"]
	path = ext/cwgl/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "ext/cwgl/VulkanMemoryAllocator"]
	path = ext/cwgl/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ext/cwgl/angle"]
	path = ext/cwgl/angle
	url = https://android.googlesource.com/platform/external/angle
[submodule "ext/cwgl/angle-static-cmake"]
	path = ext/cwgl/angle-static-cmake
	url = https://github.com/okuoku/angle-static-cmake
[submodule "ext/cwgl/chromium-zlib"]
	path = ext/cwgl/chromium-zlib
	url = https://github.com/okuoku/chromium-zlib
[submodule "ext/cwgl/glslang"]
	path = ext/cwgl/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "ext/cwgl/volk"]
	path = ext/cwgl/volk
	url = https://github.com/zeux/volk
[submodule "ext/platform/SDL2"]
	path = ext/platform/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "nccc"]
	path = nccc
	url = https://github.com/okuoku/nccc
[submodule "yuniframe"]
	path = yuniframe
	url = https://github.com/okuoku/yuniframe
[submodule "cwgl"]
	path = cwgl
	url = https://github.com/okuoku/cwgl
[submodule "coal"]
	path = coal
	url = https://github.com/okuoku/coal
[submodule "ext/legacygl/tinygl-cmake"]
	path = ext/legacygl/tinygl-cmake
	url = https://github.com/okuoku/tinygl-cmake
[submodule "ext/nccc/napi-sdkfiles"]
	path = ext/nccc/napi-sdkfiles
	url = https://github.com/okuoku/napi-sdkfiles
